
/*-----------------------------NAVIGATION-------------------------------*/

 #nav-bar
 {
	position : sticky;
	top : 0;
	z-index : 10;
 }
  .navbar-brand img
 {
	 height: 65px;
	 padding-left: 30px;
 }
  .navbar-nav li
 {
	 padding: 0	10px;
 }
  .navbar-nav li a
 {
	 float: right;
	 text-align: left;
 }
 
 #nav-bar ul li a:hover
 {
	color: #007bff!important;
 }
 
 .navbar 
 {
	background: #fff; 
 }
 .navbar-toggler
 {
	 border: none!important;
 }
 .nav-link
 {
	 color: #555!important;
	 font-weight: 600;
	 font-size: 16px;
 }
/*---------------------------------------------FACILITIES------------------------------------*/
#facilities
{
	background-image: url(gradient.png);
	background-size:cover;
	color: #001E08!important;
	background-position:center;
	background-attachment: fixed;
	padding-top: 50px;
	padding-bottom: 100px;
	box-shadow:0.3px 0px 0.2px 1px grey;
}

.container h2
{
	text-align: center;
	color: #011305!important;
	padding-bottom: 10px;
	font-family: Arial Black;
}
.container h2::after
{
	content: '';
	background: #011305;
	display: block;
	height: 3px;
	width: 400px;
	margin: 20px auto 5px;
}
#facilities h4
{
	padding-left: 185px;
	font-size: 28px;
	color: #001E08;
	text-align: left;
	margin-top: 50px;
	margin-bottom:30px;
	font-family: Aharoni;
}
.row
{
	padding-right:20px;
	font-size: 15px;
}
.colon ul
{
	padding-left: 190px;
	font-family: Arial;
	font-size: 18px;
}

.fa-dollar-sign
{
	color: #1F7A35;
}






/*------------------------------footer-------------------------------------------*/
#footer
{

	left: 0;
    bottom: 0;
    width: 100%;
	margin-top: -15px;
	padding-top: 20px;
	padding-bottom: 100px;
	background-color: #efefef;
	color: #013f7e;
}
.footer-logo
{
	width: 150px;
	margin-top: 25px;
	margin-bottom:15px;
	
}
#footer h1
{
	color: black;
	font-size: 15px;
	text-align: left;
	margin-top: 15px;
	margin-bottom: 15px;
} 
#footer h1::after
{
	content: '';
	background: #dadada;
	display: block;
	height: 3px;
	width: 150px;
	margin-left: 0px; 
	margin-top: 20px;
}
#footer p
{
	font-size: 12px;
	text-align: left;
} 
#footer .city
{
	margin-left: 37px;
} 
#footer .row .fa
{
	padding-right:20px;
	font-size: 15px;
} 
#footer hr
{
	margin-top:10px;
	border-width: 1.5px;
} 
#footer .fa-users
{
	color: black;
	font-size: 17px;
} 

#footer .copyright
{
	margin-bottom: -80px;
	text-align: center;
	font-size: 15px;
} 
.fa-home
{
	color: #1C1B1B;
}
.fa-envelope
{
	color: #0D2D73;
}
.fa-phone-square
{
	color: #1D950F;
}
.fa-youtube
{
	color: #E61414;
}
.fa-facebook-square
{
	color: #095EA9;
}
.fa-linkedin-in
{
	color: #49A0EB;
}
.fa-twitter-square
{
	color: #1FB4F0;
}
